.tna-blockquote {
  font-family: $font__roboto-mono;
  border: $default__border;
  padding: 1.6em 2.4em;
  margin-bottom: 1.6em;
  background-color: $color__white;
  width: 100%;
  p {
    margin-bottom: 0;
  }

  p {
    margin-bottom: 0;
  }

  &__cite {
    display: block;
    font-size: 0.9em;
    text-align: right;
    margin: 0.6em 0;
  }

  &--emphasis {
    background-color: $color__yellow-light;
  }

  &--alert {
    background-color: $color__alert;
  }

  &--success {
    background-color: $color__success;
  }

  &--outdent {
    margin: 0 0 1.6em -2.4em;
    @media (max-width: 992px) {
      margin: 0 0 1.6em 0;
    }
  }

  @media (max-width: 992px) {
    padding: 1.6em;
  }
}