.icon {
  display: inline-block;
  background-color: transparent;
  background-position: center center;
  background-repeat: no-repeat;

  &__circle {
    background-size: 68% 68%;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    transition: .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
  }

  &--bg-black {
    background-color: $color__black;
    &:hover {
      background-color: $color__grey-mid-dark;
    }
  }

  &--sm {
    width: 26px;
    height: 26px;
  }

  &--white-facebook {
    background-image: $icon__white_facebook;
  }

  &--white-twitter {
    background-image: $icon__white_twitter;
  }

  &--white-instgram {
    background-image: $icon__white_instagram;
  }

  &--white-youtube {
    background-image: $icon__white_youtube;
  }

  &--white-flickr {
    background-image: $icon__white_flickr;
  }

  &--white-rss {
    background-image: $icon__white_rss;
  }

  &--white-envelope {
    background-image: $icon__white_envelope;
  }

  &--white-audio {
    background-image: $icon__white_audio;
  }

  &--white-video {
    background-image: $icon__white_video;
  }

  &--white-info {
    background-image: $icon__white_info;
  }
}