.tna-page {

  &__header {
    border-left: $default__border;
    border-right: $default__border;
    border-bottom: $default__border;
    padding: 0.6em 1.6em;
  }

  &__entry {
    border-left: $default__border;
    border-right: $default__border;
    padding: 1.6em;
    background: #fff;
    margin-bottom: 1.6em;

    &:after {
      display: block;
      content: '';
      background-color: #fff;
      height: 75%;
      width: 2px;
      position: absolute;
      bottom: 0;
      right: 15px;
    }
  }

  &__sidebar {
    margin-bottom: 1.6em;

    &__nav {
      list-style-type: none;
      padding: 0;
    }
  }
}