/* Fonts */
$font__open-sans: 'Open Sans', sans-serif;
$font__roboto-mono: 'Roboto Mono', monospace;
$font__body: $font__open-sans;
$font__heading: $font__roboto-mono;

/* Colours */
$color__text: #26262a;
$color__text-secondary: #6f777b;

$color__black: #26262a;
$color__white: #fff;
$color__yellow-peach: #fbe2bc;
$color__yellow-light: #f9f7e2;
$color__green: #dde5d5;
$color__pink: #fad3d4;

$color__grey-light: #eee;
$color__grey-mid-light: #ddd;
$color__grey-mid-dark: #555;

$color__alert: $color__yellow-peach;
$color__success: $color__green;
$color__error: $color__pink;

$color__link-blue: #1d70b8;
$color__link-blue-hover: #003078;
$color__link-blue-visited: #4c2c92;
$color__link-blue-active: #1e1e2a;

$color__focus-blue-outline: #1d70b8;

$default__border: 2px solid $color__black;

/* Icons */
$icon__white_envelope: url('../img/icon-wh-envelope.png');
$icon__white_rss: url('../img/icon-wh-rss.png');
$icon__white_audio: url('../img/icon-wh-audio.png');
$icon__white_video: url('../img/icon-wh-video.png');
$icon__white_info: url('../img/icon-wh-info.png');
$icon__white_facebook: url('../img/icon-wh-social-facebook.png');
$icon__white_flickr: url('../img/icon-wh-social-flickr.png');
$icon__white_twitter: url('../img/icon-wh-social-twitter.png');
$icon__white_instagram: url('../img/icon-wh-social-instagram.png');
$icon__white_youtube: url('../img/icon-wh-social-youtube.png');

