/* TNA fonts */
$font__open-sans: 'Open Sans', sans-serif;
$font__roboto-mono: 'Roboto Mono', monospace;
$font__body: $font__open-sans;
$font__heading: $font__roboto-mono;

/* TNA colours */
$color__black: #26262a;
$color__white: #fff;
$color__yellow-peach: #fbe2bc;
$color__yellow-light: #f9f7e2;
$color__green: #dde5d5;
$color__pink: #fad3d4;

$color__grey-light: #eee;
$color__grey-mid-light: #ddd;
$color__grey-mid-dark: #555;

$color__alert: $color__yellow-peach;
$color__success: $color__green;
$color__error: $color__pink;

$default__border: 2px solid $color__black;

