body {
    background-color: #fff !important;
}
main {
    margin-bottom: 1.5em;
}
.examples {
    position: relative;
    padding: 1.6em 1em;
    margin: 0 0 1.5em;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dark {
    background-color: #666;
}
.sidebar-nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}