<!DOCTYPE html>
<html lang="en-gb">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="initial-scale = 1.0" name="viewport">

    <title>Page template - The National Archives</title>

    <link rel='stylesheet' id='tna-css' href='https://cdn.nationalarchives.gov.uk/tna-base/1.0/css/tna-base.min.css'
          type='text/css' media='all'/>
    <link rel='stylesheet' id='tna-google-fonts-css'
          href='https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C700%2C400italic%2C700italic%7CBitter&#038;ver=4.9.8'
          type='text/css' media='all'/>
    <link rel="shortcut icon" type="image/vnd.microsoft.icon"
          href="https://cdn.nationalarchives.gov.uk/tna-base/1.0/img/favicon.ico">
    <link rel="icon" type="image/vnd.microsoft.icon"
          href="https://cdn.nationalarchives.gov.uk/tna-base/1.0/img/favicon.ico">

</head>
<body class="page-template-default page">
<header id="header" role="banner">
    <a id="skip-to-main-content" href="#breadcrumb-holder">Skip to Main Content</a>
    <div class="container">
        <div class="row">
            <div class="col-xs-2 col-sm-5" id="logo-holder">
                <a href="http://www.nationalarchives.gov.uk" title="Go to The National Archives homepage"
                   class="visible-lg visible-md visible-sm">
                    <img src="https://cdn.nationalarchives.gov.uk/tna-base/1.0/img/logo-tna-white.png"
                         alt="The National Archives" class="img-responsive">
                </a>
            </div>
        </div>
    </div>
</header>
<div id="breadcrumb-holder" class="tna-breadcrumb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumbs">
                    <span itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                        <a href="http://www.nationalarchives.gov.uk/" itemprop="url"><span itemprop="title">Home</span></a>
                    </span>
                    <span class="sep">&gt;</span> <span>Page template</span>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="primary" class="content-area">
    <div class="container">
        <div class="row">
            <main id="main" class="col-xs-12 col-sm-8 col-md-8" role="main">
                <article>
                    <div class="entry-header">
                        <h1>Page template</h1>
                    </div>
                    <div class="entry-content clearfix">
                        <p>Lorem ipsum dolor sit amet, et malis iusto blandit qui, vocent albucius adipisci eum cu. Est
                            ad feugait denique. Ea nec doctus discere, mea facer inani voluptatibus cu. Posse facilis ei
                            nec, adhuc adolescens cu nam, cu sea nominavi officiis scripserit.</p>
                        <p>Sea vide singulis deterruisset id, ne iuvaret scaevola his, quidam prompta vituperatoribus
                            pri ne. Platonem molestiae usu ut. Vel odio voluptua singulis cu. Ea sed nostro scripta
                            torquatos, debet sapientem ex vis, eos cu meis tamquam. In vix facete appetere, alia ludus
                            vim id. No ius novum pericula, ea justo hendrerit mediocritatem nec.</p>
                        <p>Qui inimicus scribentur intellegebat id. Ad hendrerit contentiones mea. Ea eam aperiam
                            nostrum adversarium. Mucius ceteros pericula ne mea, pro no tation option detraxit, ut solet
                            nullam mollis cum. Vim eu eripuit hendrerit, porro nonumes ei eum, pri ei congue labores
                            explicari.</p>
                    </div>
                </article>
            </main>
            <aside id="sidebar" class="col-xs-12 col-sm-4" role="complementary">
                <div class="sidebar-header">
                    <h2>
                        <a href="#">Sidebar</a>
                    </h2>
                </div>
                <div class="sidebar-nav clearfix">
                    <ul class="sibling">
                        <li>
                            <a href="#">Item 1</a>
                        </li>
                        <li>
                            <a href="#">Item 2</a>
                        </li>
                        <li>
                            <a href="#">Item 3</a>
                        </li>
                    </ul>
                </div>
            </aside>
        </div>
    </div>
</div>

<a title="Go back to top" href="#" id="goTop"></a>

<footer id="footer" class="breather-top-bottom" role="contentinfo">
    <div class="container">
        <div class="row">
            <div class="footer-col col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <div class="row">
                    <div class="footer-col col-xs-12 col-sm-6 col-md-12 col-lg-12">
                        <address>
                            The National Archives<br/>
                            Kew, Richmond, Surrey,<br/>
                            TW9 4DU
                        </address>
                        Tel: <a class="tel" href="tel:+4402088763444">+44 (0) 20 8876 3444</a>
                    </div>
                    <div class="footer-col col-xs-12 col-sm-6 col-md-12 col-lg-12">
                        <h4>Standard opening times</h4>
                        <div class="opening-times">
                            <div class="open_table">
                                <div class="open_tableBody">
                                    <div class="open_tableRow">
                                        <div class="open_tableCell">Monday</div>
                                        <div class="open_tableCell">Closed</div>
                                    </div>
                                    <div class="open_tableRow">
                                        <div class="open_tableCell">Tuesday</div>
                                        <div class="open_tableCell">09:00 &ndash; 19:00</div>
                                    </div>
                                    <div class="open_tableRow">
                                        <div class="open_tableCell">Wednesday</div>
                                        <div class="open_tableCell">09:00 &ndash; 17:00</div>
                                    </div>
                                    <div class="open_tableRow">
                                        <div class="open_tableCell">Thursday</div>
                                        <div class="open_tableCell">09:00 &ndash; 19:00</div>
                                    </div>
                                    <div class="open_tableRow">
                                        <div class="open_tableCell">Friday</div>
                                        <div class="open_tableCell">09:00 &ndash; 17:00</div>
                                    </div>
                                    <div class="open_tableRow">
                                        <div class="open_tableCell">Saturday</div>
                                        <div class="open_tableCell">09:00 &ndash; 17:00</div>
                                    </div>
                                    <div class="open_tableRow">
                                        <div class="open_tableCell">Sunday</div>
                                        <div class="open_tableCell">Closed</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="#">Full opening times</a>
                    </div>
                </div>
            </div>
            <div class="footer-col col-xs-12 col-sm-12 col-md-6">
                <div class="row">
                    <div class="footer-col col-xs-12 col-sm-6 col-md-6">
                        <h4>Find out more</h4>
                        <ul>
                            <li><a href="#">Contact us</a></li>
                            <li><a href="#">Press room</a></li>
                            <li><a href="#">Jobs and careers</a></li>
                            <li><a href="#">Friends of The National
                                Archives</a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-xs-12 col-sm-6 col-md-6">
                        <h4>Websites</h4>
                        <ul>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Podcasts and videos</a></li>
                            <li><a href="#">Bookshop</a></li>
                            <li><a href="#">Image library</a></li>
                            <li><a href="#">UK Government Web Archive</a></li>
                            <li><a href="#">Legislation.gov.uk</a></li>
                            <li><a href="#">The Gazette</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="footer-col col-xs-12 col-sm-6 col-md-6">
                        <h4>Site help</h4>
                        <ul>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Website A-Z index</a></li>
                            <li><a href="#">Accessibility</a></li>
                        </ul>
                    </div>
                    <div class="footer-col col-xs-12 col-sm-6 col-md-6">
                        <h4>Legal</h4>
                        <ul>
                            <li><a href="#">Terms of use</a></li>
                            <li><a href="#">Privacy policy</a></li>
                            <li><a href="#">Cookies</a></li>
                            <li><a href="#">Freedom of Information</a></li>
                            <li><a href="#">Transparency</a></li>
                            <li><a href="#">Our fees</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-col col-xs-12 col-sm-12 col-md-3">
                <div class="row">
                    <div class="footer-col col-xs-12 col-sm-6 col-md-12">
                        <h4>Follow us</h4>
                        <div class="follow-us">
                            <a href="https://twitter.com/@UKNatArchives" title="Follow us on Twitter" target="_blank">
                                <div class="icon-circle icon-twitter"></div>
                            </a>
                            <a href="https://www.youtube.com/c/TheNationalArchivesUK" title="Follow us on YouTube" target="_blank">
                                <div class="icon-circle icon-youtube"></div>
                            </a>
                            <a href="https://www.flickr.com/photos/nationalarchives" title="Follow us on Flickr" target="_blank">
                                <div class="icon-circle icon-flickr"></div>
                            </a>
                            <a href="https://www.facebook.com/TheNationalArchives" title="Follow us on Facebook" target="_blank">
                                <div class="icon-circle icon-facebook"></div>
                            </a>
                            <a href="http://www.nationalarchives.gov.uk/rss/" title="Follow us via RSS">
                                <div class="icon-circle icon-rss"></div>
                            </a>
                        </div>
                    </div>

                    <div class="footer-col col-xs-12 col-sm-6 col-md-12">
                        <h4>Featured Flickr image</h4>
                        <p id="flickr-caption">West End London street scene, by Grace Golden (<a
                                href="#"
                                title="External website - opens in new window" target="_blank">INF 3/1738</a>)
                        </p>
                        <p id="flickr-image">
                            <a target="_blank" title="External website - opens in a new window"
                               href="#">
                                <img class="img-responsive"
                                     src="https://www.nationalarchives.gov.uk/images/global/inf-3-1738-grace-golden.jpg"
                                     alt="West End London street scene, by Grace Golden">
                            </a>
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="row footer-base">
            <div class="col-xs-12 col-sm-9 col-md-9 ogl">
                <a title="External website - opens in a new window"
                   href="http://www.nationalarchives.gov.uk/doc/open-government-licence/"> <img
                        alt="Open Government License logo"
                        src="https://cdn.nationalarchives.gov.uk/tna-base/1.0/img/logo-ogl.png">
                </a>
                <p>All content is available under the <a
                        href="http://www.nationalarchives.gov.uk/doc/open-government-licence/">Open
                    Government Licence v3.0</a>, <br>except where otherwise stated
                </p>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 text-right">
                <a title="External website - opens in a new window" href="http://gov.uk/" target="_blank"> <img
                        alt="GOV.UK logo"
                        src="https://cdn.nationalarchives.gov.uk/tna-base/1.0/img/logo-gov-uk.png">
                </a>
            </div>
        </div>
    </div>
</footer>
</body>
</html>